# Build dependencies
pytest
pillow>=6.2.0,<10.0.0
numpy>=1.16.4
pandas>=0.24.2
pyshp==2.1.0
geojson==2.5.0
networkx>=2.3
pyyaml>=3.12

# Run dependencies
pyproj>=3.0.0
geopandas
matplotlib
pyswmm>=1.2

#docs dependencies
Jinja2<3.1
recommonmark
m2r
mistune==0.8.4